In [22]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("survey_results_public.csv")

In [43]:
sr = pd.read_csv("survey_results_schema.csv")
sr

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

In [107]:
salary_exp_df = df.copy()
salary_exp_df= salary_exp_df[salary_exp_df['YearsCodePro'].notna()]
salary_exp_df = salary_exp_df[~salary_exp_df['YearsCodePro'].isin(['Less than 1 year', 'More than 50 years'])]
salary_exp_df['YearsCodePro'] = salary_exp_df['YearsCodePro'].apply(lambda x: '0' if x=='Less than 1 year' else x)
salary_exp_df['YearsCodePro'] = salary_exp_df['YearsCodePro'].apply(lambda x: '50' if x=='More than 50 years' else x)
salary_exp_df['YearsCodePro'] = salary_exp_df['YearsCodePro'].astype('int')
# salary_exp_df = salary_exp_df[['YearsCodePro', 'ConvertedCompYearly', 'DevType']]
# salary_exp_df.dropna(inplace=True)
# salary_exp_df = salary_exp_df.sort_values(by="YearsCodePro")

# len(salary_exp_df['DevType'].unique())
# salary_exp_df[(salary_exp_df['DevType'] == 'Academic researcher')]['YearsCodePro']
# salary_exp_df[(salary_exp_df['DevType'] == 'Academic researcher')]

# round(salary_exp_df[(salary_exp_df['DevType'] == 'Academic researcher')]['YearsCodePro'],2)
# salary_exp_df['YearsCodePro'] = salary_exp_df['YearsCodePro'].astype('int', errors='ignore')
salary_exp_df['DevType'].unique()

array(['Developer, desktop or enterprise applications;Developer, full-stack;Engineer, data;Other (please specify):',
       'Developer, front-end',
       'Data scientist or machine learning specialist', ...,
       'Developer, mobile;Developer, front-end;Developer, full-stack;Developer, back-end;Database administrator;Developer, embedded applications or devices;System administrator;Educator',
       'Developer, front-end;Developer, desktop or enterprise applications;Developer, full-stack;Developer, back-end;Developer, QA or test;Developer, embedded applications or devices;Engineering manager;Educator',
       'Developer, mobile;Developer, desktop or enterprise applications;Data scientist or machine learning specialist;Developer, back-end;Engineering manager'],
      dtype=object)

In [108]:
# salary_exp_df['DevType'].str.split(';',expand=True)

salary_exp_df["DevType"]=salary_exp_df["DevType"].str.split(";")
salary_exp_df = salary_exp_df.explode("DevType").reset_index(drop=True)
salary_exp_df = salary_exp_df.groupby(['DevType']).agg({'ConvertedCompYearly':np.median, 'YearsCodePro':np.mean,'ResponseId':'size'}).reset_index()
salary_exp_df['YearsCodePro'] = salary_exp_df['YearsCodePro'].apply(lambda x: round(x, 2))
salary_exp_df

,DevType,ConvertedCompYearly,YearsCodePro,ResponseId
0,Academic researcher,51372.0,9.29,2506
1,Data or business analyst,62758.5,11.40,3342
2,Data scientist or machine learning specialist,64859.0,8.92,3772
3,Database administrator,56616.0,12.23,5246
4,Designer,52145.0,11.93,3988
5,DevOps specialist,71093.0,11.26,6752
6,"Developer, QA or test",57599.5,10.55,3310
7,"Developer, back-end",58368.0,9.94,26664
8,"Developer, desktop or enterprise applications",59676.0,12.19,10182
9,"Developer, embedded applications or devices",59454.0,11.62,4211
10,"Developer, front-end",51704.0,9.32,16341
11,"Developer, full-stack",58167.0,9.62,29981
12,"Developer, game or graphics",56616.0,10.53,1724
13,"Developer, mobile",43200.0,9.46,8762
14,Educator,54049.0,11.98,2067
15,"Engineer, data",69590.5,10.00,3834
16,"Engineer, site reliability",84316.0,11.33,2276
17,Engineering manager,96000.0,13.82,3652
18,Marketing or sales professional,60317.0,11.99,478
19,Other (please specify):,76536.0,12.22,2508
20,Product manager,60505.0,12.47,2829
21,Scientist,64859.0,10.93,1792
22,"Senior Executive (C-Suite, VP, etc.)",94368.0,15.82,1971
23,Student,21264.0,4.37,1890
24,System administrator,56442.0,12.12,5460

In [68]:
salary_exp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6451 entries, 0 to 6450
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DevType              6451 non-null   object
 1   ConvertedCompYearly  6451 non-null   float64
 2   YearsCodePro         6451 non-null   float64
dtypes: float64(2), object(1)
memory usage: 151.3+ KB

In [38]:
df.groupby('Country').size().reset_index(name="size")

                                  Country  size
0                             Afghanistan    65
1                                 Albania    73
2                                 Algeria    46
3                                 Andorra    12
4                                  Angola    27
..                                    ...   ...
176  Venezuela, Bolivarian Republic of...   104
177                              Viet Nam   386
178                                 Yemen    20
179                                Zambia    22
180                              Zimbabwe    36

[181 rows x 2 columns]

In [39]:
df.groupby('DevType').size().reset_index(name="size")

                                                DevType  size
0                                   Academic researcher   397
1          Academic researcher;Data or business analyst    26
2     Academic researcher;Data or business analyst;D...     1
3     Academic researcher;Data or business analyst;E...     1
4     Academic researcher;Data or business analyst;S...     1
...                                                 ...   ...
8621                      System administrator;Educator     8
8622  System administrator;Marketing or sales profes...     3
8623               System administrator;Product manager     2
8624  System administrator;Product manager;Marketing...     1
8625  System administrator;Senior Executive (C-Suite...     3

[8626 rows x 2 columns]

In [42]:
dev_type_df = df.copy()
dev_type_df['DevType'].str.split(",",expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Developer,mobile,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Developer,front-end,None,None,None,None,None,None,None,None,None,None,None
4,Developer,desktop or enterprise applications;Developer,full-stack;Engineer,data;Other (please specify):,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,Developer,back-end,None,None,None,None,None,None,None,None,None,None,None
83435,Developer,full-stack,None,None,None,None,None,None,None,None,None,None,None
83436,Data scientist or machine learning specialist;...,None,None,None,None,None,None,None,None,None,None,None,None
83437,Developer,back-end,None,None,None,None,None,None,None,None,None,None,None
83438,Developer,front-end;Developer,full-stack;Developer,back-end,None,None,None,None,None,None,None,None,None